h1{
    text-align: center;
}

nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: antiquewhite;
}
body{
    background-color: #233b2c;
    color: antiquewhite;
}

/* frame */
.frame{
    background-color: rgb(205, 192, 175);
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    margin: auto;
    height: 778px;
    width: 799px;
    border: 10px solid antiquewhite ;
}

/* boxes */
.silvertop{
    position: absolute;
    border-top: 150px solid #a3adb5;
    border-bottom: 150px solid transparent; 
    border-left: 150px solid #a3adb5;
    border-right: 150px solid transparent; 
}
.whitetop{
    position: absolute;
    left: 300px;
    bottom: 250px;
    border-top: 375px solid transparent;
    border-bottom: 375px solid transparent;
    border-left: 375px solid #fff7f2;
    border-right: 375px solid transparent;
}
.greytop{
    position: absolute;
    right: 0px;
    border-top: 150px solid #726b6d;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}
.blacktriangle{
    position: absolute;
    right: 475px;
    top: -100px;
    border-top: 450px solid transparent;
    border-bottom: 450px solid transparent; 
    border-left: 450px solid transparent;
    border-right: 450px solid #1e191b; 
}
.red{
    position: absolute;
    right: 0px;
    border-top: 475px solid transparent;
    border-bottom: 475px solid transparent; 
    border-left: 475px solid transparent;
    border-right: 475px solid #a8210f;
}
.yellow{
    position: absolute;
    bottom: 0px;
    border-top: 155px solid transparent;
    border-bottom: 155px solid transparent; 
    border-left: 155px solid #d4a842;
    border-right: 155px solid transparent; 
}
.whitebottom{
    position: absolute;
    bottom: 0px;
    border-top: 155px solid transparent;
    border-bottom: 155px solid #fff7f2; 
    border-left: 155px solid transparent;
    border-right: 155px solid transparent; 
}
.silverbottom{
    position: absolute;
    left: 300px;
    top: 450px;
    border-top: 400px solid transparent;
    border-bottom: 400px solid #a3adb5;
    border-left: 400px solid #a3adb5;
    border-right: 400px solid transparent;
}